git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.2.3
redis==5.0.1
Authlib==1.2.1
Flask-Security-Too
sqlalchemy-utils
portalocker>=2.8.2
Flask-Alembic==2.0.1
flask-marshmallow==0.14.0
marshmallow-sqlalchemy<0.29.0 
marshmallow-dataclass==8.6.0